<mat-dialog-content>
  <div *ngIf="!matches" class="loader-container">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
  <mat-table *ngIf="matches" [dataSource]="matches">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Día </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.day | amLocale:'es' | amDateFormat:'dddd, HH:mm'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef> Partido </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="odds">
      <mat-header-cell *matHeaderCellDef> Cuotas </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.odds["1"]}} - {{element.odds["X"]}} - {{element.odds["2"]}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef> Seleccionar </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
            mat-raised-button
            [color]="selectedMatches.has(element) ? 'primary' : 'secondary'"
            [disabled] = "!selectedMatches.has(element) && allSelected"
            (click)="toggleMatch(element)">
          <span *ngIf="!selectedMatches.has(element)">Seleccionar</span>
          <span *ngIf="selectedMatches.has(element)">Quitar</span>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions *ngIf="matches">
  <button mat-raised-button color="secondary">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!allSelected"
    [mat-dialog-close]="selectedMatches">Finalizar</button>
</mat-dialog-actions>
